<%- include ('../partials/header') %>

<main>
  <% if (session.user) { %>
    <div class="container">
      <div class="col"><%- include ('../partials/message') %></div>
      <h2>Welcome Home</h2>
      <form id="form"> 
        <input type="search" id="query" name="q" placeholder="Find Creative videos...">
        <button>Search</button>
      </form>
      <h5>Video results displayed below...</h5>
    </div>
  <% } else { %>
    <% res.redirect('/'); %>
  <% } %>
</main>

<%- include ('../partials/footer') %>