<%- include ('../partials/header') %>




<main>
  <div class="container">

    <div class="col"><%- include ('../partials/message') %></div>






    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h2>Login</h2>

    <form action="/login" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" />
        
        <label for="password">Password</label>
        <input type="text" id="password" name="password" />
        
        <input type="submit" value="login" />
    </form>
  </div>
</main>

<%- include ('../partials/footer') %>