<%- include ('../partials/header') %>

<main>
  <div class="container">

    <div class="col"><%- include ('../partials/message') %></div>
    <h2>Past Videos</h2>
    <h5>Past video links listed here...</h5>
  </div>
</main>

<%- include ('../partials/footer') %> 