<%- include ('../partials/header') %>

<main>
  <div class="container">
    <button onclick="test()">TEST  ! </button>
  </div>
</main>



<script>
    const API_KEY = 'AIzaSyAUIeq5EabysWpUAIREp5MdMfyydzVoiQk';
    const SEARCH_URL = 'https://www.googleapis.com/youtube/v3/search';

    function searchVideosYoutube(query) {
      const accessToken = '6205e05dd3f7a3481af13e0de55e9025'; 
      const searchTerm = query;  // change this to your search term
      const clientId = 'YOUR_CLIENT_ID';
      const clientSecret = 'YOUR_CLIENT_SECRET';
      const apiUrl = `https://api.vimeo.com/videos?query=${searchTerm}`;
      const headers = {
        Authorization: `bearer ${accessToken}`
      };

      fetch(apiUrl, {
        method: 'GET',
        headers,
      })
        .then((response) => response.json())
        .then((data) => {
          console.log(data);
        })
        .catch((error) => {
          console.error(error);
        });
    }

    // Usage example:
    function test() {
        searchVideosYoutube('JavaScript tutorial')
    }
    

</script>
<%- include ('../partials/footer') %>