<%- include ('../partials/header') %>

<main>
  <div class="container">
    <button onclick="test()">TEST  ! </button>
  </div>
</main>



<script>
async function queryYoutube(query) {
  const API_KEY = 'AIzaSyAUIeq5EabysWpUAIREp5MdMfyydzVoiQk';
  const SEARCH_URL = 'https://www.googleapis.com/youtube/v3/search';
  var query = "js tutorial"
  
  const params = {
    q: query,
    part: 'snippet',
    type: 'video',
    key: API_KEY,
};

const url = SEARCH_URL + '?' + new URLSearchParams(params);
let result;
await fetch(url)
    .then(response => response.json())
    .then(data => {
     result = data.items; 
    
    })
    .catch(error => console.error(error));
  return result; 
}

async function queryVimeo(query) {
  const accessToken = '6205e05dd3f7a3481af13e0de55e9025'; 
  const searchTerm = query;  // change this to your search term
  const clientId = 'YOUR_CLIENT_ID';
  const clientSecret = 'YOUR_CLIENT_SECRET';
  const apiUrl = `https://api.vimeo.com/videos?query=${searchTerm}`;
  const headers = {
    Authorization: `bearer ${accessToken}`
  };
  let ret; 
  await fetch(apiUrl, {
    method: 'GET',
    headers,
  })
    .then((response) => response.json())
    .then((data) => {
      ret = data.data; 
    })
    .catch((error) => {
      console.error(error);
    });
    return ret;
}

async function queryAllstandard(query) {

   var youtuberesult = await queryYoutube(query).then((res) => {return res}); 
   console.log(youtuberesult)
   var vimeoresults = await queryVimeo(query).then((res) => {return res}); 
   console.log(vimeoresults)
   var combined = []
   //{"title":"","description":"","platform":"","url":"","id":""}
   var count = 0; 
   for(let x =0; x< youtuberesult.length; x++) {
    let turl = "https://www.youtube.com/watch?v=" + youtuberesult[x].id.videoId
    combined.push({ 
        "title" : youtuberesult[x].snippet.title,
        "description": youtuberesult[x].snippet.description,
        "platform": "youtube",
        "url": turl, 
        "id": youtuberesult[x].id.videoId
    });
   }
   for(let y =0; y< vimeoresults.length; y++) {
    combined.push({ 
        "title" : "vimeoresults[y].name",
        "description": "vimeoresults[y].description",
        "platform": "vimeo",
        "url": "vimeoresults[y].link", 
        "id": "vimeoresults[y].uri"
    });
   }
    return combined; 
}
   


// Usage example:
    function test() {
        queryAllstandard('hi'); 
    }
    

</script>
<%- include ('../partials/footer') %>